/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.suggestionsList {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
}

.result-container {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  align-items: center; /* Vertically align the image and text */
  gap: 1rem; /* Add spacing between image and text */
  padding: 1rem 0; /* Add vertical padding */
}



.result-image {
width: 150px; /* Fix image width */
height: auto; /* Maintain aspect ratio */
flex-shrink: 0; /* Prevent the image from shrinking */
margin-left: 1rem;
}

.result-text-container {
display: flex;
flex-direction: column; /* Stack text vertically */
flex-grow: 1; /* Allow the text to take remaining space */
justify-content: flex-start; /* Align text at the top */
}

.result-dish-label {
  margin: 0; /* Remove default margin */
  font-size: 1.2rem; /* Adjust font size */
  font-weight: bold; /* Make the label bold */
}

.result-abstract {
  margin: 0;
  font-size: 1rem;
  width: 470px; /* Set a fixed width for the box */
  height: 70px; /* Set a fixed height for the box */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Display "..." for truncated text */
  display: -webkit-box; /* Use a flexible box model */
  -webkit-box-orient: vertical; /* Set orientation to vertical */
  -webkit-line-clamp: 3; /* Limit to 3 lines */
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dishLabel {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.abstract {
  margin: 0;
  font-size: 1rem;
  width: 470px;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
